{% extends 'base.html'%}

{% block conteudo%}

<div class="container">

    <h1>Sobre</h1>
    <hr>
    <h5>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam quam vel vitae nemo repellat voluptates.
        Facilis veniam ullam laborum porro numquam inventore eum voluptatibus ipsam provident, accusamus quibusdam, quae
        placeat dolorum, pariatur id consectetur at quia ipsum delectus sunt sapiente! Ipsa officia veniam unde, earum
        itaque <b> nostrum alias perspiciatis voluptatibus fugit </b>.  Debitis velit vitae dicta beatae perferendis enim ut. Quis
        nam voluptas obcaecati in ratione sit earum suscipit molestiae at omnis dolorem alias corrupti, dolore mollitia
        magnam temporibus illum delectus deleniti ut ad quam reprehenderit vel magni. Ea, sequi. Iste doloribus autem
        corrupti excepturi dolor dolores quos, rem quasi totam!
    </h5>

</div>
{% endblock%}